# for root folder
build-tools/
c4c-integration/
hybris-sbg/
installer/
licenses/
README

/.metadata
/hybris/temp
/hybris/data
/hybris/log
/hybris/roles
/hybris/config/solr
/hybris/config/license
/hybris/config/languages
/hybris/config/customize
/hybris/config/tomcat
/hybris/bin/idea-module-files
/hybris/bin/idea-module-files
/hybris/bin/platform
/hybris/bin/modules
/hybris/config/solr/**/hsperfdata_*
/RemoteSystemsTempFiles

**/gensrc
**/classes
**/testclasses
**/commonwebsrc
**/hmc/bin
**/target
**/jalo

**/beans.xsd
**/items.xsd
**/extensioninfo.xsd
**/build.xml
**/hmc.xsd
**/*testclasses.xml
**/platformhome.properties
**/resources/schemaorg_apache_xmlbeans
**/node_modules
**/web/addonsrc
**/web/webroot/**/addons
**/wro_addons.xml

**/.idea
**/.sonar
/.gradle
/.settings
/idea-module-files
/build-tools
/installer
/licenses
**/*.iml
**/*_bof.jar
*.class

